@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700);html {
  font-family: 'Roboto', 'Open Sans', 'Raleway', sans-serif;
}

.invalid-feedback {
  color: red;
}

nav.uk-navbar-container.uk-navbar {
  background-color: indigo;
}

.uk-navbar-nav li a {
  color: white;
}

.uk-navbar-nav li a:hover {
  color: deeppink;
}

.uk-navbar-left a.uk-navbar-item.uk-logo {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.uk-navbar-left ul.uk-flex.uk-navbar-nav li div.uk-navbar-dropdown {
  background-color: indigo;
}

.uk-margin.uk-animation-toggle a.uk-link {
  float: right;
}

@media only screen and (max-width: 369px) {
  .uk-margin.uk-animation-toggle a.uk-link {
    display: block;
  }
}

#login-form div.uk-first-column,
#register-form div.uk-first-column {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
}

#passforget-form div.uk-first-column {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
}

